<div style="display: flex; flex-direction: column; height: 100vh;">
    <div style="flex: 1; padding: 8px; box-sizing: border-box;">
      <mat-card style="height: 100%; display: flex; flex-direction: column; overflow: hidden;">
        <app-crew-create-form style="flex: 1; overflow-y: auto; box-sizing: border-box;"></app-crew-create-form>
      </mat-card>
    </div>
    
    <div style="flex: 1; padding: 8px; box-sizing: border-box;">
      <mat-card style="height: 100%; display: flex; flex-direction: column; overflow: hidden;">
        <app-certificate-list style="flex: 1; overflow-y: auto; box-sizing: border-box;"></app-certificate-list>
      </mat-card>
    </div>
  </div>
  