

<h2>Crew Members</h2>
<div style="padding: 3%;">

  <table mat-table [dataSource]="crewMembers" class="mat-elevation-z8" #myTable>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="nationality">
      <th mat-header-cell *matHeaderCellDef> Nationality </th>
      <td mat-cell *matCellDef="let element"> {{element.nationality}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="daysOnBoard">
      <th mat-header-cell *matHeaderCellDef> Days On Board </th>
      <td mat-cell *matCellDef="let element"> {{element.daysOnBoard}} </td>
    </ng-container>

    <ng-container matColumnDef="dailyRate">
      <th mat-header-cell *matHeaderCellDef> Daily Rate </th>
      <td mat-cell *matCellDef="let element"> {{element.dailyRate}} </td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef> Currency </th>
      <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="onEdit(element)" >Show Certificates</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="viewDetails(element.id)" >Details</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="onDelete(element.id)" >Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" ></tr>
  </table>

 <button mat-raised-button (click)="onCreate()" style="margin-top: 16px;">Add Crew Member</button>
</div>





