<mat-card class="crew-card">
  <mat-card-header>
    <mat-card-title>{{ crewMember?.firstName ?? 'N/A' }} {{ crewMember?.lastName ?? 'N/A' }}</mat-card-title>
    <mat-card-subtitle>{{ crewMember?.title ?? 'N/A' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><strong>{{ 'NATIONALITY' | translate }}:</strong> {{ crewMember?.nationality ?? 'N/A' }}</p>
    <p><strong>{{ 'DAYS_ON_BOARD' | translate }}:</strong> {{ crewMember?.daysOnBoard ?? 'N/A' }}</p>
    <p><strong>{{ 'DAILY_RATE' | translate }}:</strong> {{ crewMember?.dailyRate ?? 'N/A' }} {{ crewMember?.currency ?? 'N/A' }}</p>
    <p><strong>{{ 'CERTIFICATES' | translate }}:</strong></p>
    <ul>
      @for( cert of crewMember?.certificates; track cert){
          <li>{{cert.name}}</li>
      }@empty {
          <li>{{ 'NO_ITEMS_FOUND' | translate }}</li>
      }
    </ul>
  </mat-card-content>
</mat-card>
@if(!crewMember){
  <mat-card>
      <mat-card-content>
        <p>{{ 'NO_CREW_MEMBER_FOUND' | translate }}</p>
      </mat-card-content>
  </mat-card>
}